{% extends "Base_Home.html" %}
{% block title %}Ingresar{% endblock %}

{% block content %}
<!-- Sweet Alert CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/sweetalert2.min.css') }}">
<!-- Sweet Alert JS -->
<script src="{{ url_for('static',filename='js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script>
	function traeValores(formulario) {
		Swal.fire({
			title: "Inicio de sesion",
			text: "Deseas ingresar con el siguiente correo:  " + formulario.email.value + "  ¿Es correcto?",
			icon: "warning",
			showCancelButton: true,
			cancelButtonColor: "#DD6B5F",
			confirmButtonColor: "#50C878",
			confirmButtonText: "Si, entrar",
			cancelButtonText: "Cancelar",
		}).then((result) => {
			if (result.isConfirmed) {
				var dataDic = {
					email: formulario.email.value,
					contrasenia: formulario.contra.value,
				}
				var data = JSON.stringify(dataDic, null, 2)
				var http = new XMLHttpRequest();
				var url = '/login';
				http.open('POST', url, true);
				http.setRequestHeader('Content-type', 'application/json');
				http.responseType = "json";
				http.onreadystatechange = function () {
					if (this.readyState == 4 && this.response[1] == 200) {
						if (this.response[0]["mensaje"] == "Admin") {
							Swal.fire({
								title: "Bienvenido administrador",
								icon: "success"
							}).then((result) => {
								location.href = "/verCamara";
							})
						} else if (this.response[0]["mensaje"] == "UsrNormal") {
							Swal.fire({
								title: "Bienvenid@",
								icon: "success"
							}).then((result) => {
								location.href = "/envioReciboPaquetes";
							})
						} else if (this.response[0]["mensaje"] == "No validado") {
							Swal.fire({
								title: "Aún no ha sido valido por el adminsitrador",
								text: "Favor de ponerse en contacto con el",
								icon: "error"
							}).then((result) => {
								location.href = "/";
							})
						}
					} else if (this.response[1] == 403) {
						Swal.fire({
							title: "Error",
							text: this.response[0]["mensaje"],
							confirmButtonText: 'Ok',
							icon: "error"
						}).then((result) => {
							location.href = "/login";
						})
					} else if (this.response[1] == 409) {
						Swal.fire({
							title: "Error",
							text: this.response[0]["mensaje"],
							confirmButtonText: 'Ok',
							icon: "error"
						}).then((result) => {
							location.href = "/login";
						})
					}
				};
				http.send(data);
				return false
			} else { return false }

		});
		return false
	}
</script>
<div class="container">
	<div class="section">
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="column has-text-centered">
			<h1 class="title" style="color: ghostwhite;">Iniciar sesion</h1>
		</div>
		<div class="content">
			<form id="login" method="POST" onsubmit="return traeValores(document.getElementById('login'))">
				<div class="field">
					<label class="label" style="color: rgb(185, 185, 185);">Email</label>
					<input class="input" id="email" type="email" placeholder="Email" required>
				</div>
				<div class="field">
					<label class="label" style="color: rgb(185, 185, 185);">Contraseña</label>
					<input class="input" id="contra" type="password" placeholder="Contraseña" required>
				</div> 
				<a class="tag is-link is-medium is-light"  href="/recuparContra"> Recuperar contraseña</a>
				<br>
				<div class="field has-text-centered">
					<div class="control">
						<button type="submit" class="button is-link">Ingresar</button>
					</div>
				</div>
			</form>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>

</div>
{% endblock %}