{% extends "Base_UsrNormal.html" %}
{% block title %}Recibir paquete{% endblock %}

{% block contenido %}
<!-- Sweet Alert CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/sweetalert2.min.css') }}">
<!-- Sweet Alert JS -->
<script src="{{ url_for('static',filename='js/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script>
    function traeValoresEntregaPaq() {
        var http = new XMLHttpRequest();
        var url = '/confirmarEntrega';
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/json');
        http.responseType = "json";
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.response[1] == 200) {
                location.href = "/envioReciboPaquetes";
            } else if (this.response[1] == 409) {
                Swal.fire({
                    text: this.response[0]["mensaje"],
                    confirmButtonText: 'Ok',
                    icon: "warning"
                }).then((result) => {
                    location.href = "/signup";
                })
            } else if (this.response[1] == 500) {
                Swal.fire({
                    title: "Error",
                    text: this.response[0]["mensaje"],
                    confirmButtonText: 'Ok',
                    icon: "error"
                }).then((result) => {
                    location.href = "/signup";
                })
            }
        };
        http.send();
        return false
    }
    function traeValores(formulario) {
        var http = new XMLHttpRequest();
        var url = '/recibirPaquete';
        http.open('POST', url, true);
        http.setRequestHeader('Content-type', 'application/json');
        http.responseType = "json";
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.response[1] == 200) {
                Swal.fire({
                    title: "Bien",
                    text: this.response[0]["mensaje"],
                    confirmButtonText: 'Confirmar paquete entregado',
                    icon: "success"
                }).then((result) => {
                    traeValoresEntregaPaq();
                })
            } else if (this.response[1] == 409) {
                Swal.fire({
                    text: this.response[0]["mensaje"],
                    confirmButtonText: 'Ok',
                    icon: "warning"
                }).then((result) => {
                    location.href = "/signup";
                })
            } else if (this.response[1] == 500) {
                Swal.fire({
                    title: "Error",
                    text: this.response[0]["mensaje"],
                    confirmButtonText: 'Ok',
                    icon: "error"
                }).then((result) => {
                    location.href = "/signup";
                })
            }
        };
        http.send();
        return false
    }
</script>
<div class="container">
    <div class="section">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <div class="column has-text-centered">
            <h1 class="title">Recoger paquete</h1>
            <br>
            <br>
            <h4 class="subtitle">Favor de dar clic al boton de abajo para poder abrir la caja, para luego dar clic en el boton de confirmar paquete entregado</h4>
            
        </div>
        <div class="content" id="formulario">
            <form id="recogerPaquete" method="POST"
                onsubmit="return traeValores(document.getElementById('recogerPaquete'))">
                <br>
                <div class="field has-text-centered">
                    <div class="control">
                        <button type="submit" class="button is-link">Recoger paquete</submit>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<!-- Termina Seccion1 -->
{% endblock %}